body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.task{
    list-style-type: none;
    display: flex;
    margin: 20px 20px;
    background-color: black;
    padding: 20px 20px;
    padding-left: 20%;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#ok{
    width: 40%;
    height: 5vh;
    margin: auto;
    margin-top: 5%;
    font-size: x-large;
}

.searchbtn{
    width: 40%;
    height: 5vh;
    margin: auto;
    margin-top: 5%;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: black;
    font-size: x-large;
    font-weight: bold;
}
#backg{
    width: 66.67%;
    margin: auto;
    background-color: white;
    margin-top: 5%;
}
.check{
    width: 20%;
    height: initial;
    background-color: white;
    color: black;
    padding: 10px 0px;
    text-align: center;
}
.textcontain{
    width: 100%;
    height: auto;
    padding: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    
}
#text{
    font-size: 900%;
}

ul{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    padding: 0px;
}